*{
  padding: 5px;
}

p{
  color: #7288f6;
  text-align: justify;
}
ul{
  font-family: monospace;
  list-style-type: square;
}
h1, h2, h3{
  text-align: center;
}
h3{
  font-size: 25px;
}

.our-css-class{
  text-decoration: 2px purple underline dashed;
  color: #000094;
}

#do-not-use-id-in-css{
  border: 3px dotted violet;
}

.inline{
  display: inline;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.square{
  width: 200px;
  height: 100px;
  background-color: aquamarine;
  font-size: 24px;
  /* line-height: 100px; */
  text-align: center;
  border: 2px solid black;
}

.grid-three-columns{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.flex-rows{
  display: flex;
}