body{
  margin: 0;
  background-color: #b2b2b2;
  min-height: 500vh;
}

:root{

}
section{
  font-size: 20px;
  min-height: 50vh;
  overflow: auto;
}
h2{
  font-size: 1.5rem; /* 24px */
  /* font-size: 24px; */
}

.flex{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box{
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: #8675bb;
  padding: 10px;
}
.box:hover{
  border: 5px dashed black;
}

[src]{
  padding: 5px;
  border: 1px solid black;
}

li:nth-child(2n+5){
  color: red;
}

.bgImage{
  min-height: 70vh;
  background-image: url('./images/nature7.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}
.bgTransparent{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(163, 191, 146, 0.555);
}
.content{
  position: relative;
  z-index: 1;
}

/* animation */
.animatedBox{
  width: 100px;
  height: 100px;
  background-color: #8675bb;
  margin: 0 auto;

  animation: infinite linear 5s nameOfAnimation;
}

@keyframes nameOfAnimation {
  0% {
    transform: translateY(0px);
    background-color: #8675bb;
  } 5% {
    transform: translateY(0px);
    background-color: #8675bb;
  } 45% {
    transform: translateY(100px);
    background-color: #8675bb;
  } 55% {
    transform: translateY(100px);
    background-color: antiquewhite;
  } 95% {
    transform: translateY(0px);
    background-color: antiquewhite;
  } 100% {
    transform: translateY(0px);
    background-color: #8675bb;
  }
}