body{
  margin: 0;
  background-color: #b6b6b6;
}

section{
  min-height: 50vh;

  > h2{
    text-align: center;
  }
}

.flexContainerExample{
  border: 2px solid black;
  height: 500px;

  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > div{
    width: 100px;
    height: 100px;
    background-color: azure;
    font-size: 2rem;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}