@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
  --main-blue-color: #645cff;
  --main-container-background: #fff;
  --main-background-color: #f8fafc;
  --shadow-color: #cbcbcb;
  --success-color: #18593a;
  --warning-color: #872730;
  --task-width: 60%;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: var(--main-background-color);
}

header{
  height: 100px;
  background-color: var(--main-container-background);
  padding: 0 50px;
  box-shadow: 0 3px 5px 3px var(--shadow-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  > div > h2{
    margin: 0;
    font-size: 2rem;

    > span{
      color: var(--main-blue-color);
    }
  }
  > div > ul{
    padding: 0;
    margin: 0;
    list-style-type: none;

    display: flex;
    gap: 15px;

    > li > a > i{
      color: var(--main-blue-color);
    }
  }

}

main{
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;

  > section{
    width: var(--task-width);
  }
  > section.addNewTask{
    background-color: var(--main-container-background);
    box-shadow: 0 3px 5px 3px var(--shadow-color);
    border-radius: 5px;
    padding: 35px 50px;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    > h2{
      margin: 0;
      font-size: 2rem;
    }

    > form{
      width: 100%;

      > div{
        display: flex;
        border-radius: 5px;
        height: 30px;
        margin-bottom: 10px;
        
        > input:nth-child(1){
          width: 80%;
          background-color: var(--main-background-color);
          padding-left: 10px;

          border-width: 1px;
          border-color: #d3d3d3;
          border-style: solid;
          border-radius: 0;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          &::placeholder{
            font-weight: bold;
            color: var(--shadow-color);
          }
        }
        > input:nth-child(2){
          width: 20%;
          background-color: var(--main-blue-color);
          color: white;
          font-weight: bold;
          text-align: center;

          border-width: 0;
          border-radius: 0;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }

      > span#error{
        color: var(--warning-color);
        text-transform: capitalize;
        opacity: 0;
        visibility: hidden;
      }
    }
   
  }
}

