@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body{
  margin: 0;
  height: 500vh;
  font-family: "Roboto Mono", serif;
  background-color: #b2b2b2;
}

.twoColumns{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.twoColumns img{
  width: 300px;
  height: auto;
}

.boxModelExample{
  width: 300px;
  height: 100px;
  background-color: aquamarine;

  /* Padding */
  /* padding-top: 10px; */
  /* padding-right: 5px; */
  /* padding-bottom: 10px; */
  /* padding-left: 5px; */
  /* padding: 10px; */
  /* padding: 10px 5px; */
  padding: 10px 5px 1px;
  /* padding: 10px 5px 15px 1px; */

  /* Border */
  /* border: 3px solid black; */
  /* border-width: 3px; */
  border-width: 5px 10px; /* top and bottom - 5; right and left - 10 */
  /* border-top-width: 30px; */
  border-style: solid;
  border-color: black;
  /* border-radius: 50%; */
  border-top-left-radius: 50px 50%;
  border-top-right-radius: 50px 50%;
  /* border-radius: 10px  50px / 100px  30px; */

  /* Margin */
  /* margin-top: 10px; */
  /* margin-right: 5px; */
  /* margin-bottom: 10px; */
  /* margin-left: 5px; */
  /* margin: 10px; */
  margin: 0 auto;
  /* margin: 10px 5px 1px; */
  /* margin: 10px 5px 15px 1px; */

  /* display: inline; */
}

.positionContainer{
  width: 800px;
  height: 300px;
  border: 1px solid black;
}

/* .box{ */
.positionContainer > div{
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 3px dashed orange;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

.static{
  position: static;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.sticky{
  position: sticky;
}

.top{
  top: 50px;
}
.right{
  right: 100px;
}
.bottom{
  bottom: 10px;
}
.left{
  left: 30px;
}

.z1{
  z-index: 1;
}
.z5{
  z-index: 5;
}

.imageBackground{
  position: relative;
  background-image: url("./images/nature5.jpg");
  background-size: cover;
  background-position: center;
}

.transparentBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(201, 153, 195, 0.531);
}

.content{
  position: relative;
  z-index: 1;
  font-weight: 600;
  font-style: italic;
}

i.fa, span.fa, i.bi, span.bi{
  color: red;
  background-color: black;
  font-size: 50px;
}