@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
  --main-color: #645cff;
  --main-color-light: #9994f4;
  --main-color-dark: #4c43f7;
  --screen-size-padding: 30px;
  --section-bg-color-1: #f8fbfc;
  
  line-height: 1.3;
  font-size: 13px;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

header{
  background-color: #fff;
  padding: var(--screen-size-padding);

  display: flex;
  justify-content: space-between;
  align-items: center;

  > h2{
    margin: 0;
    letter-spacing: 2px;
    word-spacing: 5px;
    font-size: 1.7rem;

    > span{
      color: var(--main-color);
    }
  }
  > nav{
    display: none;
  }
  > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 15px;
    
    > li{

      > a{
        
        > i{
          color: var(--main-color);
          font-size: 1.2rem;
          transition: 0.5s;

          &:hover{
            color: var(--main-color-light);
          }
        }
      }
    }
  }
}

main{
  > section:not(#gallery){
    padding: var(--screen-size-padding);
  }
  > section{
    > h2{
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 4px;
      word-spacing: 10px;
      font-size: 2.5rem;

      > span{
        color: var(--main-color);
      }
    }
  }

  > #home{
    height: 100vh;
    background-color: var(--main-color);
    text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    > h1{
      text-transform: uppercase;
      letter-spacing: 4px;
      word-spacing: 10px;
      font-size: 3rem;
      margin: 0;
    }
    > p{
      letter-spacing: 1px;
      word-spacing: 2px;
      margin: 0;
    }
    > button{
      text-transform: capitalize;
      background-color: var(--main-color);
      border: 0;
      border-radius: 5px;
      color: white;
      box-shadow: 0 1px 3px 1px var(--main-color-dark);
      padding: 5px;
    }
  }

  > #about{
    > div.image{
      > img{
        width: 100%;
      }
    }
    > div.info{
      > h3{
        font-size: 2rem;
        text-transform: uppercase;
      }
      > a{
        text-decoration: none;
        color: var(--main-color);
        transition: 0.5s;

        &:hover{
          color: var(--main-color-light);
        }
      }
    }
  }

  > #services{
    background-color: var(--section-bg-color-1);

    > .servicesContainer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      > div{
        display: grid;
        gap: 10px;
        justify-items: center;
        text-align: center;

        > i{
          background-color: var(--main-color);
          font-size: 2rem;
          padding: 10px;
        }
        > h3{
          font-size: 1.5rem;
          text-transform: uppercase;
          margin: 0;
        }
        > p{
          margin: 0;
        }
      }
    }
  }

  > #tours{

    > .toursContainer{
      display: grid;
      gap: 40px;

      > div{
        box-shadow: 0 1px 3px 1px #e8e8e8;
        height: 350px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div.image{
          height: 70%;
          position: relative;

          > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
          > p{
            position: absolute;
            top: 10px;
            left: 0;
            padding: 5px 10px;
            margin: 0;
            background-color: var(--main-color);
          }
        }

        > div.info{
          padding: 15px;

          > h3{
            margin-top: 0;
            font-size: 1.5rem;
          }
          > div{
            display: flex;
            justify-content: space-between;
            align-items: center;

            > a{
              color: var(--main-color);
              text-decoration: none;

              > i{
                margin-right: 5px;
              }
            }
            > div{
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
    }
  }

  > #gallery{
    background-color: var(--section-bg-color-1);
    padding-top: var(--screen-size-padding);

    > .galleryContainer{
      background-color: var(--main-color);

      > img{
        width: 100%;
        height: 350px;

        object-fit: cover;
        object-position: center;
      }
    }
  }

  > #subscribe{
    background-color: var(--main-color);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    > div{
      letter-spacing: 4px;
      word-spacing: 7px;
      font-size: 1.5rem;
      color: white;

      > h2{
        margin-top: 0;
        text-transform: uppercase;
      }
      > p{
        text-transform: capitalize;
      }
    }
    > form{
      background-color: white;
      padding: 1px;

      > input{
        border: 0;
        padding: 6px 8px;
        font-size: 0.9rem;
      }
      > [type="email"]{
        &::placeholder{
          text-transform: uppercase;
          color: black;
        }
      }
      > [type="submit"]{
        text-transform: uppercase;
      }
    }
  }
}

footer{
  padding: 50px var(--screen-size-padding);
  background-color: #222;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  > nav{
    > ul{
      margin: 0; 
      padding: 0;
      list-style-type: none;

      display: flex;
      gap: 10px;

      > li{
        > a{
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  > ul{
    margin: 0; 
    padding: 0;
    list-style-type: none;

    display: flex;
    gap: 10px;

    > li{
      > a{
        > i{
          color: var(--main-color);
        }
      }
    }
  }
  > p{
    color: white;
    margin: 0;
  }
}